.main-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.film-container {
  padding: "20px";
}

.button-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}