.Absol {
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    top: 20%;
    margin-left: 30px;
    text-align: left;
}

.name {
    font-size: 24px;
    margin: 0;
}

.time {
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
}


.cardMedia::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, rgba(20, 20, 20, 0.40) 20%, rgba(83, 100, 141, 0.00) 100%);
}

.card {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity:1;
}


.btn {
    width: 120px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #E50914;
    background: #E50914;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    -webkit-text-fill-color: white; 
    box-shadow: 0 0px 20px #ffffff50;
}

.btn:hover {
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 0 0px 50px #0525E6;
}

.card {
    margin-left: 50px;
}

.cardMedia:hover {
    -webkit-transform: scale(1);
	transform: scale(1);
}
.cardMedia {
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

